body {
  background-color: whitesmoke;
}
h1 {
  font-weight: 1500;
}

div.mid {
  margin-top: 1cm;
  border-width: 0.3cm;
  border-color: rgb(233,229,228);
  border-style: solid;
  background-color: rgb(233,229,228);
  padding: 0px 40px 0px 640px;
  border-radius: 0.1cm;
}

.my-header h4 {
  color: rgb(95, 95, 95);
  display: inline;
  font-weight: bold;
}
.my-header span {
  padding-left: 30%;
  display: inline;
}

a {
  color: rgb(155, 153, 153);
  text-decoration: none;
  font-size: 110%;
  padding: 1.4cm;
  font-weight: 900;
}

img {
  padding-top: 2cm;
  position: absolute;
  margin-left: 0%;
  padding-left: 0%;
  width: 30%;
  left: 2cm;
}

.bubble1 {
    color: white;
    text-align: center;
    font-size: x-large;
    height: 75px;
    width: 75px;
    margin: 0.3cm;
    margin-top: 0cm;
    margin-bottom: 1.5cm;
    background-color: rgb(232,53,85);
    border-radius: 50%;
    display: inline-block;
}

.bubble2 {
  text-align: center;
  font-size: x-large;
  color: white;
  height: 75px;
  width: 75px;
  margin: 0.3cm;
  background-color: rgb(98,207,212);
  border-radius: 50%;
  display: inline-block;
}

.bubble3 {
  text-align: center;
  font-size: x-large;
  color: white;
  height: 75px;
  width: 75px;
  margin: 0.3cm;
  background-color: rgb(139,132,25);
  border-radius: 50%;
  display: inline-block;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 130;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: rgb(215, 174, 174);
}

/* Control the right side */
.right {
  right: 0;
  background-color: rgb(154, 112, 112);
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}